.container {
    display: flex;
}

.content-box {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.many{
    width: 75%;
}

.stage-card {
    
    padding: 10px;
    font-weight: bold;
    border: 3px solid #35c4cf;
    border-radius: 10px;
}

.dotted-row {
    display: flex;

    flex-wrap: wrap;
    border: 3px dashed #fed7c5;
    margin: 10px 0;
    padding: 10px;
    
}

.data-testid{
    text-align: center;
}

.text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pill {
    background-color: #a8cdcf;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50px;
    width: auto;
    cursor: grab;
    /*transition-duration: 50ms;
    transition-delay: 1ms;
    transition-timing-function: ease;

    transition:  max-width 1s;*/
    
}
.text:hover,
.pill:hover {
    max-width: 100%;
    width: auto;
    cursor: hand;

    white-space: normal;
    overflow: visible;
    text-overflow: initial;
}


.flag {
    color: #fb8b54;
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}
