.container {
    display: flex;
}

.content-box {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.many{
    width: 75%;
}

.stage-card {
    
    padding: 10px;
    font-weight: bold;
    border: 3px solid #35c4cf;
    border-radius: 10px;
}

.dotted-row {
    display: flex;

    flex-wrap: wrap;
    border: 3px dashed #fed7c5;
    margin: 10px 0;
    padding: 10px;
    
}

.pill {
    background-color: #a8cdcf;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    width: auto;
    
    /*transition-duration: 50ms;
    transition-delay: 1ms;
    transition-timing-function: ease;

    transition:  max-width 1s;*/
    
}
.pill:hover {
    max-width: 100%;
    width: auto;

    white-space: normal;
    overflow: visible;
    text-overflow: initial;
}

/* Pseudo-elemento ::before para criar a linha de conexão */
.pill::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-left: 2px solid #a8cdcf;
    width: 20px; /* Ajuste conforme necessário */
    z-index: -1;
}
/* Estilize as linhas de conexão entre as pílulas */
[data-testid="1"]::before {
    left: -20px; /* Posição da linha para a pílula com data-testid="1" */
}
[data-testid="1.1"]::before {
    left: -20px; /* Posição da linha para a pílula com data-testid="1.1" */
    height: 50%; /* Ajuste conforme necessário para a altura da linha */
    border-top: 2px solid #a8cdcf;
    border-bottom: 2px solid #a8cdcf;
}
[data-testid="1.2"]::before {
    left: -20px; /* Posição da linha para a pílula com data-testid="1.2" */
    height: 50%; /* Ajuste conforme necessário para a altura da linha */
    border-top: 2px solid #a8cdcf;
    border-bottom: 2px solid #a8cdcf;
}
[data-testid="1.3"]::before {
    left: -20px; /* Posição da linha para a pílula com data-testid="1.3" */
    height: 50%; /* Ajuste conforme necessário para a altura da linha */
    border-top: 2px solid #a8cdcf;
    border-bottom: 2px solid #a8cdcf;
}

.flag {
    color: #fb8b54;
    padding: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    align-self: center;
}
